<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Ed.Ed" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Ed.Ed>
            <setting name="DoLogs" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DoBackups" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="KeepTemporaryFiles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoRestoreGlobalB" serializeAs="String">
                <value>True</value>
            </setting>
        </Ed.Ed>
    </userSettings>
</configuration>